.git
.pytest_cache
**/__pycache__
**/*.pyc
backend/venv
backend/.pytest_cache
backend/*.db
backend/*.db-*
backend/local_uploads/*
!backend/local_uploads/.gitkeep
frontend/node_modules
frontend/dist
frontend/.vite
.DS_Store
